<div class="container">
  <div align="center" class="w3-container w3-red">
    <br>
    <br>
    <div>
      <%= image_tag "socks.png" %>
    </div>
    <div class="w3-container w3-blue">
  <h1>Welcome to SockMate!</h1>
  <h2><%= link_to 'Check Our Selection Here!', socks_path, method: :get%> </h2>
  </div>
</div>
